  <!-- Main Content -->
  <main class="container">

<!---Home-->
 
<% if (title == "Home"){ %>
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
              

<style>
  body {
    background-image: url('/Assets/images/gamebg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>

<div class="p-5 mb-0 bg-link text-grey" style="width:600px; margin:0 auto;">
<h1 style="font-size:60px;">Welcome to my Portfolio Website</h1>
<p></p>
<div class="hd text-black"><h5>
    This is Vamsi Paladugu, currently studying Game Programming as Centennial College, Toronto. 
    This website is published to showcase my Gaming Projects currently I'm working on and also the Services I can offer to you in Game Development.             
</h5></div>
<h2 style="font-size:30px;">"You envisage; We create."</h2>

</div>
<div class="text-center">
<a href="/about" class="btn btn-secondary btn-info active" role="button" aria-pressed="true">More about me</a></div><br>
<% } %>


<!-----About-->

<% if (title == "About"){ %>
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
<div class="p-3 mb-2 bg-dark text-grey">
<div class="hd"></div></div>
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100" src="/Assets/images/aboutbw.jpg" alt="First slide"></div></div></div></div>

<div class="p-3 mb-2 bg-link text-grey">
<div class="hd"><h5>
  I am currently a student at Centennial College studying my graduate diploma in Game Programming. 
  Previously I was working as a Software Developer with experience of developing and managing complex system applications.   
</h5>
<br>
<h5>
  I did my graduation in 2017 with specialization in Electronics and communications and in the campus placements I got my first job at CGI Inc. 
  Later hunger for knowledge and determination to turn complex logics into working applications has contributed to my promotion as Software Developer at CGI Inc. 
  I consider myself as a ‘forever student’, eager to build on academic foundations in Programming filed I took up my Game programming course at Centennial College.
</h5>
<br>
<h5>
  I believe being creative in the workplace is key to success in Gaming industry. 
  I work hard to provide optimal solutions and look forward to be a part of big upcoming AAA games.
</h5>
</div></div>

<div class="text-center">
    <button type="button" class="btn btn-info" onclick=" window.open('https://drive.google.com/file/d/1cHqNpvxqQoWZytSvJoqgeO1MGe8tsIAF/view?usp=sharing','_blank')">
        View My Resume
    </button>
</div>
<br>
  
<div class="p-3 mb-2 bg-dark text-grey">
<div class="hd"></div></div>   
<div class="row" style="justify-content: center">

<% } %>



<!-----Projects-->

<% if (title == "Projects"){ %>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Current Projects</h1>
      <p class="lead text-muted">Below are some of the important projects currently I'm working on and going to work in future.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/Assets/images/vr.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text" style="text-align: justify;">This project is all about creating a virtual world using Virtual Reality technology. This is project has a wide scope in Construction, Education and Gaming Industries. In particular right now we are working on building high definition Constructions. The outcome of this project is we can have a realistic view of a build in 3D even before in was constructed.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/Assets/images/bike.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text" style="text-align: justify;">This project is a 2D bike race I’m working on. This is a mobile game completely developed in Unity game engine. Playing this game is lot of fun and an absolute stressbuster in the time of lockdown.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/Assets/images/event.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text" style="text-align: justify;">This is new project still in the seed stage. In this project we are planning to encourage students to volunteer various social events and at the same we also request recruiters to have an interaction at the event place and hire the students on part-time/full-time basis. This will help international students a lot pitching their first international job offer.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<% } %>


<!----Services-->

<% if (title == "Services"){ %>
        
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Services</h1>
      <p class="lead text-muted">I offer following services at a premium quality and repeat changes are also allowed.</p>
    </div>
  </section>


  <div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    
     <div class="row" style="justify-content: center">
         <div class="card col-md-5 col-12">
             <div class="card-content">
                 <div class="card-body">
                   <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="Assets/images/game.jpg" data-holder-rendered="true">
                   </br>
                     <div class="shadow"></div>
                     <div class="card-title">Game Design & Development</div>
                     <div class="card-subtitle">
                         <p> <small class="text-muted">Unity, Unreal, Gimp and Tiled</small> </p>
                     </div>
                 </div>
             </div>
         </div>


         <div class="card col-md-5 col-12 ml-2">
             <div class="card-content">
                 <div class="card-body">
                   <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="Assets/images/3D.jpg" data-holder-rendered="true">
                 </br>  
                   <div class="card-title">3D Modeling</div>
                     <div class="card-subtitle">         
                       <p> <small class="text-muted"> Blender, 3Ds Max, Maya, MudBox, SketchUp </small> </p>
                     </div>
                 </div>
             </div>
         </div>
         
     </div>
 

    </div>

    <div class="text-center">
      <a href="/contact" class="btn btn-secondary btn-info active" role="button" aria-pressed="true">Get in touch</a>
    </div>
  </div>

<% } %>


 <!----Contacts-->     

<% if (title == "Contact"){ %>

<section class="section pb-5">

  <h2 class="section-heading h1 pt-4">Let Us Contact</h2>

  <div class="row">

    <div class="col-sm-6">

      <div class="row">
        <div class="col-sm-6">
          <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
          <br><br>
          <br>
          <br>
          <h3 style="font-size:30px;">Address:</h3>
          <h3 style="font-size:20px;">Tirupati, Andhra Pradesh</h3>
          <h3 style="font-size:20px;">India</h3>
          <br>
          <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
          <h3 style="font-size:20px;">+ 91 9951929455</h3>      
          <br>
          <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
          <h3 style="font-size:20px;">paladuguvamsichowdary@gmail.com</h3>
        </div>    
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="form-header accent-1">
            <h3><i class="fas fa-envelope"></i> Enquiry:</h3>
          </div>
          <br>
          <div class="md-form">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="form-name" class="form-control" placeholder="Full Name">
          </div>
          <div class="md-form">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="form-email" class="form-control" placeholder="Email"> 
          </div>
          <div class="md-form">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="form-Subject" class="form-control" placeholder="Subject"> 
          </div>
          <div class="md-form">
            <i class="fas fa-pencil-alt prefix grey-text"></i>
            <textarea id="form-text" class="form-control md-textarea" rows="3" placeholder="Message"></textarea>
          </div>
          <div class="text-center mt-4">
            <button onclick="myFunction()" class="btn btn-secondary btn-info active" role="button" aria-pressed="true">Submit</button>
          </div>

          <p href="/home" id="demo"></p>
          
          <script>  //Script copied from W3 Schools. /https://www.w3schools.com/
          function myFunction() {
            var txt;
            var Name = document.getElementById("form-name").value
            if (confirm("Name: " + Name)) {
              txt = "You pressed OK!";
              //window.alert("Enquiry sent successfully.");
              window.location.href = "/home";
            } else {
              txt = "Please fill the details again!";
            }
            document.getElementById("demo").innerHTML = txt;
          }
          </script>

        </div>
      </div>
    </div>

  </div>

</section>

<% } %>
  </main>
  